html {
  overflow: initial;
  height: 100%;
}

body {
  background: #f5f5f5;
  color: #5b626b;
  height: 100%;
  overflow: hidden;
  // font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
