$i: 0;

@while $i < 55 {
  .p-#{$i} {
    padding: #{$i}px
  }
  .pt-#{$i} {
    padding-top: #{$i}px
  }
  .pr-#{$i} {
    padding-right: #{$i}px
  }
  .pb-#{$i} {
    padding-bottom: #{$i}px
  }
  .pl-#{$i} {
    padding-left: #{$i}px
  }

  .m-#{$i} {
    margin: #{$i}px
  }
  .mt-#{$i} {
    margin-top: #{$i}px
  }
  .mr-#{$i} {
    margin-right: #{$i}px
  }
  .mb-#{$i} {
    margin-bottom: #{$i}px
  }
  .ml-#{$i} {
    margin-left: #{$i}px
  }

  $i: $i + 5
}

.is-fullheight {
  height: 100vh;

  &.calc-50px {
    height: calc(100vh - 50px);
  }

  &.calc-60px {
    height: calc(100vh - 60px);
  }

  &.calc-70px {
    height: calc(100vh - 70px);
  }

  &.calc-80px {
    height: calc(100vh - 80px);
  }

  &.calc-90px {
    height: calc(100vh - 90px);
  }
}
